/*
	Theme Name: Theme Base
	Theme URI: http://themebase.com
	Author: Andrew Kemp
	Author URI: http://ankemp.com
	Description: A Custom WordPress theme by Andrew Kemp
	Version: In Development
	Bitbucket Theme URI: https://bitbucket.org/dapezboy/themebase
	Bitbucket Branch: master */

@import scss/uikit-mixins

@function calculateRem($size)
	$remSize: $size / 16px
	@return $remSize * 1rem

@mixin font-size($size)
	font-size: $size
	font-size: calculateRem($size)

@mixin transition($args...)
	-webkit-transition: $args
	-moz-transition: $args
	-ms-transition: $args
	-o-transition: $args
	transition: $args

@import scss/uikit
@import scss/components/dotnav
@import scss/components/search

/* --- Fonts --- */

/* --- Default Styles --- */
body
	line-height: 1.45rem
	
	h1, h2, h3, h4, h5, h6 
		color: 
	
	.content
		min-height: 81vh
		margin-top: 45px
		
body:not(.home)
	color: 
	background-color: 
	
p, ol, ul 
	margin: 0
	margin-bottom: 15px
	@include font-size(16px)

img.alignleft 
	float: left
	display: block
	margin-right: 15px
	margin-bottom: 10px

h1, h2, h3, h4, h5, h6 
	font-weight: 500

img.alignright 
	float: right
	display: block
	margin-left: 15px
	margin-bottom: 10px

img.aligncenter 
	float: none
	display: block
	margin: 0 auto
	margin-bottom: 10px

img.alignnone 
	float: none
	display: inline-block
	margin: 0 auto
	margin-bottom: 10px


/* --- Custom Theme Styles --- */
em 
	color: 

a 
	color: 

	&.no-deco 
		text-decoration: none

	&:hover 
		color: 
		text-decoration: none
		@include transition(all .15s linear)

a img:not(.logo):hover
	opacity: .7
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"
	@include transition(all .15s linear)
	-webkit-backface-visibility: none

.fourohfour 
	@include font-size(64px)
	line-height: 64px

.uk-container 
	max-width: 1200px


/* --- NavBar --- */
.uk-navbar
	background-color: #000000

.uk-navbar-toggle
	color: 
			
.uk-navbar-nav
	li
		a
			color: 
			@include font-size(18px)
			background-color: transparent
			text-transform: uppercase
			
	li:hover>a,
	li>a:focus,
	li.uk-open>a,
	li.uk-active>a 
		color: $blue
		background-color: transparent

.uk-dropdown-navbar 
	background-color: #000000
	
	li
		a
			color: 
			background-color: transparent


.uk-navbar-nav>li:hover>a,
.uk-nav-navbar>li>a:hover,
.uk-nav-navbar>li>a:focus,
.uk-dropdown li.uk-active>a
	color: 
	background-color: transparent
	


/* --- Header --- */
header
	.logo
		max-height: 40px

/* --- Home Page Styles --- */


/* --- sidebar --- */
.sidebar
	.widget
		margin-top: 30px
		margin-bottom: 30px
	
	.widget-title
		@include font-size(24px)
		font-weight: 900

.uk-search
	width: 100%

	.uk-search-field
		color: 
		background-color: #fff
		width: 100%

.uk-search:before
	color: 

/* --- Footer --- */
footer
	.ak
		background-color: 

		div
			color: 
			padding: 10px 0
			
			a
				color: 
				
				&:hover
					color: 


/* --- Responsive --- */
/* Desktop and bigger */
@media (min-width: 960px) 
/* Only tablets portrait */
@media (min-width: 768px) and (max-width: 959px) 
/* Phone landscape and smaller */
@media (max-width: 767px)