// Name:            Sticky
// Description:     Make elements remain at the top of the viewport
//
// Component:       `data-uk-sticky`
//
// States:          `uk-active`
//
// ========================================================================


// Variables
// ========================================================================

$sticky-z-index:                                980;


/* ========================================================================
   Component: Sticky
 ========================================================================== */

/*
 * 1. More robust if padding and border are used
 */

[data-uk-sticky].uk-active {
    z-index: $sticky-z-index;
    /* 1 */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * Faster animations
 */

[data-uk-sticky][class*='uk-animation-'] {
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
}

[data-uk-sticky].uk-animation-reverse {
    -webkit-animation-duration: 0.04s;
    animation-duration: 0.04s;
}


// Hooks
// ========================================================================

@include hook-sticky-misc();

// @mixin hook-sticky-misc(){}